<%= form_for([:admin, @data_file]) do |f| %>
  <% if @data_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_file.errors.count, "error") %> prohibited this data_file from being saved:</h2>

      <ul>
      <% @data_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ru_title %><br />
    <%= f.text_field :ru_title %>
  </div>
  <div class="field">
    <%= f.label :en_title %><br />
    <%= f.text_field :en_title %>
  </div>
  <div class="field">
    <%= f.label :ru_description %><br />
    <%= f.text_area :ru_description %>
  </div>
  <div class="field">
    <%= f.label :en_description %><br />
    <%= f.text_area :en_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
