<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @request.email %>
</p>

<p>
  <b>Body:</b>
  <%= @request.body %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
